pre, code, textarea, div.module {
    font-size: 140%;
}

.module-label {
    font-size: 80%;
}

code {
    background-color: #eee;
}

button {
    display: block;
}

div.modules {
    padding: 0.5em;
}

div.module {
    display: inline table;
    border: 1px solid;
    margin: 0.2em;
    padding: 0.2em;
    font-family: monospace;
}

.module-label {
    font-family: monospace;
}

/* Thx https://developer.mozilla.org/fr/docs/Web/HTML/Element/figcaption */

figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 220px;
  margin: auto;
}

img {
  max-width: 300px;
  max-height: 200px;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}